@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.svg');
    src: url('fonts/LAKESHOR-webfont.woff') ;
}
@font-face {
    font-family: 'airstream';
    src: url('fonts/Airstream-webfont.svg');
    src: url('fonts/Airstream-webfont.woff');
}
:root {
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 17vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.25);
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8vh;
    background-color: rgb(58, 80, 102);

}
.main-header {
    height: 5vh;
    vertical-align: middle;
}
.logo {
   height: 5vh;
   font-family: 'lakeshore'; 
   font-size: 4em;
   text-transform: uppercase;
   background-color: rgb(124, 170, 209);
   color: rgba(0, 0, 0, 0.692);
   font-weight: bold;
   text-align: center;
   margin: 0;
}
.logo span {
    position: relative;
    top: 1.2vh;
}
.main-class {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 80vh;
}
.hidden .details-container {
    display: none;
}
.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 38vh; */
    /* transition: 2s; */
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.is-tiny {
    transform: scale(0.01);
    transition: 0s;
}
.thumbnails-item:hover {
    /* opacity: .5; */
    transition: .3s;
    transform: scale(1.1);
}
.details-image {
    width: 90vw;
    height: 60vw;
    max-height: 40vh;
}
.details-frame {
    position: relative;
}
.hide-button {
    position: absolute;
    right: 2vw;
    top:2vw ;
    font-size: 2em ;
}
.details-title {
    max-height: 40vw;
    position: absolute;
    font-family: 'airstream';
    font-style: italic;
    font-size: 5em;
    padding: 0.25vw 3vw;
    left: -2vw;
    bottom: 2vw;
    background-color: coral;
    color: whitesmoke;
}
.thumbnails-container {
    height: 42vh;
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 42vh;
    overflow: auto;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
}
.thumbnails-item {
    border: 2px aliceblue solid;
    border-radius: 25%;
    overflow: hidden;
    margin-bottom: 2em;
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    margin-right: 2vw;
    width: var(--thumbnails-image-width);
}
.thumbnails-title {
    font-size: 3em;
    display: block;
    text-align: center;
    background-color: aliceblue;
    color:lightslategray;
}
.main-footer {
    background-color: rgb(124, 170, 209);
    text-align: center;
    color:rgba(0, 0, 0, 0.692);
    font-size: 2em;
    height: 5vh;
    vertical-align: middle;
}
.main-footer h3 {
    margin: 0;
    position: relative;
    top: 1.2vh;
}
.main-footer a {
color:rgba(0, 0, 0, 0.692);
}
.selected.thumbnails-item {
    border-radius: 0;
    border: 4px solid green
}